
 Copyright 2013-2024 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React, { useEffect, useState } from 'react';
import { Link, useParams, useNavigate } from 'react-router-dom';
import {
  Button,
  Container,
  TextField,
  MenuItem,
  FormControl,
  InputLabel,
  Select,
  Typography,
  Box,
} from '@mui/material';
import { useAppDispatch, useAppSelector } from 'app/config/store';
import { getEntity, updateEntity, createEntity, reset } from './<%= entityFileName %>.reducer';

export const <%= entityReactName %>Update = () => {
  const dispatch = useAppDispatch();
  const navigate = useNavigate();

  const { id } = useParams<'id'>();
  const isNew = id === undefined;

  const <%= entityInstance %>Entity = useAppSelector(state => state.<%= entityReactState %>.entity);
  const loading = useAppSelector(state => state.<%= entityReactState %>.loading);
  const updating = useAppSelector(state => state.<%= entityReactState %>.updating);
  const updateSuccess = useAppSelector(state => state.<%= entityReactState %>.updateSuccess);

  const handleClose = () => {
    navigate('/<%= entityPage %>');
  };

  useEffect(() => {
    if (isNew) {
      dispatch(reset());
    } else {
      dispatch(getEntity(id));
    }
  }, []);

  useEffect(() => {
    if (updateSuccess) {
      handleClose();
    }
  }, [updateSuccess]);

  const saveEntity = values => {
    const entity = {
      ...<%= entityInstance %>Entity,
      ...values,
    };

    if (isNew) {
      dispatch(createEntity(entity));
    } else {
      dispatch(updateEntity(entity));
    }
  };

  const defaultValues = () =>
    isNew
      ? {}
      : {
          ...<%= entityInstance %>Entity,
        };

  return (
    <Container>
      <Typography variant="h4" gutterBottom>
        <Translate contentKey="<%= i18nKeyPrefix %>.home.createOrEditLabel">Create or edit a <%= entityClass %></Translate>
      </Typography>
      {loading ? (
        <p>Loading...</p>
      ) : (
        <form
          onSubmit={event => {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const values = Object.fromEntries(formData.entries());
            saveEntity(values);
          }}
        >
          {!isNew && (
            <TextField
              label={translate('<%= primaryKey.fields[0].fieldTranslationKey %>')}
              name="<%= primaryKey.fields[0].fieldName %>"
              value={<%= entityInstance %>Entity.<%= primaryKey.fields[0].fieldName %>}
              margin="normal"
              fullWidth
              InputProps={{
                readOnly: true,
              }}
            />
          )}
          <%_ for (field of fields.filter(field => !field.id)) {
            const fieldType = field.fieldType;
            const fieldName = field.fieldName;
            const fieldNameHumanized = field.fieldNameHumanized;
          %>
            <TextField
              label={translate('<%= field.fieldTranslationKey %>')}
              name="<%= fieldName %>"
              defaultValue={defaultValues()[fieldName]}
              margin="normal"
              fullWidth
            />
          <%_ } _%>
          <Box mt={2}>
            <Button variant="contained" color="primary" type="submit" disabled={updating}>
              <Translate contentKey="entity.action.save">Save</Translate>
            </Button>
            &nbsp;
            <Button variant="contained" color="secondary" onClick={handleClose}>
              <Translate contentKey="entity.action.back">Back</Translate>
            </Button>
          </Box>
        </form>
      )}
    </Container>
  );
};

export default <%= entityReactName %>Update;
